<div class="timeline-item">
  <div class="timeline-left">
    <a href="#" class="timeline-category" data-zebra-tooltip title="Technology"><i class="material-icons">&#xE894;</i></a>
    <span class="timeline-date">3 min ago</span>
  </div>
  <div class="timeline-right">
    <div class="timeline-post-image">
      <a href="#">
        <img src="img/news-test-images/news-img8.jpg" width="260">
      </a>
    </div>
    <div class="timeline-post-content">
      <a href="#" class="timeline-category-name">Technology</a>
      <a href="#">
        <h3 class="timeline-post-title">It has roots in a piece of classical Latin literature from making it over</h3>
      </a>
      <div class="timeline-post-info">
        <a href="#" class="author">John Doe</a>
        <span class="dot"></span>
        <span class="comment">32 comments</span>
      </div>
    </div>
  </div>
</div>