<div class="content-sidebar">
  <div class="sidebar_inner">

    <div class="widget-item">
      <div class="w-header">
        <div class="w-title">Popular Posts</div>
        <div class="w-seperator"></div>
      </div>
      <div class="w-boxed-post">
        <ul>
          <% Article.all.each do |article| %>
            <li>
              <a href="#" style="background-image: url(<%= rails_blob_url(article.image) %>);">
                <div class="box-wrapper">
                  <div class="box-left">
                    <span>1</span>
                  </div>
                  <div class="box-right">
                    <h3 class="p-title"><%= article.headline %></h3>
                    <div class="p-icons">
                      213 likes . 124 comments
                    </div>
                  </div>
                </div>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>


    <!-- <div class="widget-item">
      <div class="w-header">
        <div class="w-title">Carousel Posts</div>
        <div class="w-seperator"></div>
      </div>
      <div class="w-carousel-post">
        <div class="owl-carousel" id="widgetCarousel">
            <div class="item">
              <a href="#">
                <div class="w-play-img">
                  <img src="img/news-test-images/news-img4.jpg" width="300">
                  <span class="w-video-icon"><i class="material-icons">&#xE038;</i></span>
                </div>
                <span class="w-post-title">It has roots in a piece of classical Latin literature from</span>
                
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/news-test-images/news-img5.jpg" width="300">
                <span class="w-post-title">Lorem Ipsum used since</span>
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/news-test-images/news-img6.jpg" width="300">
                <span class="w-post-title">English versions from the 1914 translation</span>
              </a>
            </div>
            <div class="item">
              <a href="#">
                <img src="img/news-test-images/news-img7.jpg" width="300">
                <span class="w-post-title">The standard chunk of Lorem Ipsum used since</span>
              </a>
            </div>
        </div>
      </div>
    </div> -->

    <div class="seperator"></div>

    <!-- <a href="#" class="widget-ad-box">
      <img src="img/adbox300x250.png" width="300" height="250">
    </a> -->

  </div>
</div>