<main class="main-container">

  <% render "carousel" %>

  <section class="main-content" style="padding-top: 20px;">
    <div class="main-content-wrapper">
      <div class="content-body">
        <div class="content-timeline">
          <!--Timeline header area start -->
          <div class="post-list-header">
            <span class="post-list-title">Latest stories</span>
            <select class="frm-input">
              <option value="1">Technology</option>
              <option value="1">Book</option>
              <option value="1">Cinema</option>
            </select>
          </div>
          <!--Timeline header area end -->


          <!--Timeline items start -->
          <div class="timeline-items">
            <% Article.all.each do %>
              <%= render "article_preview", article: @article %>
            <% end %>
          </div>
          <!--Timeline items end -->

          <!--Data load more button start  -->
          <div class="load-more">
            <button class="load-more-button material-button" type="button">
              <i class="material-icons">&#xE5D5;</i>
              <span>Load More</span>
            </button>
          </div>
          <!--Data load more button start  -->
        </div>

      </div>
      <%= render 'right_content_sidebar' %>
      
    </div>
  </section>

</main>