<style>
  #map { position: absolute; top: 0; bottom: 0; width: 100%; }

  .map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 360px;
    top: 20;
    left: 0;
    padding: 10px;
  }
   
  .map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
  }
   
  .map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
  }
   
  .map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #fca107, #7f3121);
  }
   
  .map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
  }
</style>

<main class="main-container">
  <div>

    <div id="map"></div>

    <div class="map-overlay top">
      <div class="map-overlay-inner">
        <h2>Cases in Singapore</h2>
        <label id="day"></label>
        <input id="slider" type="range" min="0" max="<%= @dates.count-1 %>" step="1" value="<%= @dates.count-1 %>" />
      </div>
      <div class="map-overlay-inner">
        <div id="legend" class="legend">
          <div class="bar"></div>
          <div>Recency</div>
        </div>
      </div>
    </div>

  </div>
</main>

<%= content_for :page_scripts do %>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidXBjb2RlIiwiYSI6ImNrMTY4bmh0czEyZTAzYnBrZmJ4NWFkbnoifQ.hzw0VGE11l-2P5LviigslQ';
    // Set bounds to Singapore
    var bounds = [
      [103.5920359, 1.1604753], // Southwest coordinates
      [104.1120359, 1.5304753]  // Northeast coordinates
    ];

    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [103.8520359, 1.3454753],
      zoom: 10,
      maxBounds: bounds
    });

    var days = <%= raw(@dates) %>;

    function filterBy(day) {
      var filters = ['<=', 'day', day];
      map.setFilter('case-circles', filters);
      map.setFilter('case-labels', filters);

  // Set the label to the day
  document.getElementById('day').textContent = day;
  }

  map.on('load', function() {
  // Data courtesy of http://case.usgs.gov/
  // Query for significant cases in 2015 URL request looked like this:
  // http://case.usgs.gov/fdsnws/event/1/query
  //    ?format=geojson
  //    &starttime=2015-01-01
  //    &endtime=2015-12-31
  //    &minmagnitude=6'
  //
  // Here we're using d3 to help us make the ajax request but you can use
  // Any request method (library or otherwise) you wish.
  d3.json(
    '/test.json',
    // 'https://docs.mapbox.com/mapbox-gl-js/assets/significant-cases-2015.geojson',
      function(err, data) {
        if (err) throw err;

        // Create a day property value based on time
        // used to filter against.
        data.features = data.features.map(function(d) {
          d.properties.day = moment(d.properties.time).format('Do MMMM YYYY');
          // d.properties.day = new Date(d.properties.time).getDate();
          // d = {
          //   'type': "Feature", 
          //   'properties':
          // }
          return d;
        });

      map.addSource('cases', {
        'type': 'geojson',
        data: data
      });

      map.addLayer({
        'id': 'case-circles',
        'type': 'circle',
        'source': 'cases',
        'paint': {
          'circle-color': [
          'interpolate',
          ['linear'],
          ['get', 'case'],
          6,
          '#FCA107',
          8,
          '#7F3121'
          ],
          'circle-opacity': 0.75,
          'circle-radius': [
          'interpolate',
          ['linear'],
          ['get', 'size'],
          6,
          20,
          8,
          40
          ]
        }
      });

      map.addLayer({
        'id': 'case-labels',
        'type': 'symbol',
        'source': 'cases',
        'layout': {
          'text-field': [
            'concat',
            'Patient: ',
            ['to-string', ['get', 'case']],
            '\n',
            ['to-string', ['get', 'place']]
          ],
          'text-font': [
            'Open Sans Bold',
            'Arial Unicode MS Bold'
          ],
          'text-size': 12
        },
        'paint': {
          'text-color': 'rgba(0,0,0,0.5)'
        }
      });

      // Set filter to first day of the year
      // 0 = January
      filterBy(days[days.length-1]);

      document
        .getElementById('slider')
        .addEventListener('input', function(e) {
          var day = days[e.target.value];
          filterBy(day);
        });
      }
    );
  });
  </script>
<% end %>