<main class="main-container">

  <%= render "numbers" %>

  <% render "carousel" %>

  <section class="main-content">
    <div class="main-content-wrapper">
      <div class="content-body">
        <div class="content-timeline">
          <!--Timeline header area start -->
          <div class="post-list-header">
            <span class="post-list-title">AI Aggregated Stories</span>
            <br/>
            <small>Singapore Based News and Social Media Stories About Coronavirus Using Python AI.</small>
            <!-- <select class="frm-input">
              <option value="1">Infection</option>
              <option value="1">Case</option>
            </select> -->
          </div>
          <!--Timeline header area end -->


          <!--Timeline items start -->
          <div class="timeline-items">
            <% @articles.each do |article| %>
              <%= render "article_preview", article: article %>
            <% end %>
          </div>
          <!--Timeline items end -->

          <!--Data load more button start  -->
          <!-- <div class="load-more">
            <button class="load-more-button material-button" type="button">
              <i class="material-icons">&#xE5D5;</i>
              <span>Load More</span>
            </button>
          </div> -->
          <!--Data load more button start  -->
        </div>

      </div>
      <%= render 'right_content_sidebar' %>
      
    </div>
  </section>

</main>

<%= content_for :page_scripts do %>
  <script>
    //making sidebars fix to screen top.
    var setStickySidebar = function(){
      //if window screen < 960 sidebar hiding.
      if (window.outerWidth > 960)
      {
        var sidebar = $('.sidebar_inner');
        var sidebarHeight = sidebar.outerHeight();
        var windowHeight = $(window).height();
        var wrapperTopPos = $('.main-content').position().top;
        var scrollTop = $(this).scrollTop();

        if ((sidebarHeight+30) < windowHeight)
        {
          if ((scrollTop+30) > wrapperTopPos)
            sidebar.css({'position':'fixed', 'top':30});
          else
            sidebar.css({'position':'absolute', 'top':0});
        }
        else
        {
          if (scrollTop > (wrapperTopPos+30+sidebarHeight-windowHeight))
            sidebar.css({'position':'fixed', 'top':-(sidebarHeight+30-windowHeight)});
          else
            sidebar.css({'position':'absolute', 'top':0});

        }

        if ($('.article-left-box-inner').length)
        {

          var leftSidebar = $('.article-left-box-inner');
          var leftSidebarH = leftSidebar.outerHeight();
          var endOfTheArticlePos = $('#endOfTheArticle').offset().top;

          if ((scrollTop+30) > wrapperTopPos)
          {
            if ((scrollTop+leftSidebarH+80) > endOfTheArticlePos)
              leftSidebar.css({'position':'absolute', 'top':'auto', 'bottom':10});
            else
              leftSidebar.css({'position':'fixed', 'top':70, 'bottom':'auto'});
          }
          else
            leftSidebar.css({'position':'absolute', 'top':0, 'bottom':'auto'});

          
        }
      }
    }

    $(document).ready(function(){ setStickySidebar.call($(window)); })

    $(window).on('scroll',function () { setStickySidebar.call(this); });
  </script>
<% end %>